.image-container {
  position: absolute;
  height: 200px;
  width: 250px;
  border: 2px solid #d4bf91;
  border-radius: 2px;
  right: 50%;
  top: 25%;
  transform: translateX(50%);
  text-align: center;
}
.image-card {
  position: absolute;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
@media /* tablet */ (min-width: 451px) {
  .image-container {
    height: 250px;
    width: 300px;
    border: 4px solid #d4bf91;
  }
}
@media /* desktop */ (min-width: 769px) {
  .image-container {
    height: 300px;
    width: 350px;
    border: 8px solid #d4bf91;
    right: 30%;
    top: 30%;
  }
}
